.arrow-container{
    transition: transform 0.1s ease-in-out;
}
.arrow-container:hover{
    transform: scale(1.2);
}
.disabled:hover{
    transform: scale(1);
}
.menu-button{
    transition: all 0.1s ease-in-out;
}
.menu-button:hover{
    background-color: #191c24;
}
.circle{
    transition: all 0.2s ease-in-out;
}
.fill{
    transform: scale(1.62);
}
.mobile-menu{
    padding: 0;
    transition: all 0.2s cubic-bezier(.01,.67,.27,.98);
}
.expanded{
    height: 100%;
    padding-top: 3em;
}
.mobile-menu .expanded a{
    padding: 5em;
}
.page-index{
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
.page-index.primary{
    animation: bounce 0.3s cubic-bezier(.26,.2,.19,.97) 1 ;
}
.card{
    opacity: 0;
    transition: all 0.4s cubic-bezier(0,.4,.28,.99);
}
.scroll-left{
    transform: translateX(400px);
}
.scroll-right{
    transform: translateX(-400px);
}
.card.active{
    opacity: 1;
    transform: translateX(0);
}
 /** KEYFRAMES */
@keyframes bounce {
    0% {
      transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }