.arrow-container{
    transition: transform 0.1s ease-in-out;
}
.arrow-container:hover{
    transform: scale(1.2);
}
.disabled:hover{
    transform: scale(1);
}
.menu-button{
    transition: all 0.1s ease-in-out;
}
.menu-button:hover{
    background-color: #121419;
}
.circle{
    transition: all 0.2s ease-in-out;
}
.fill{
    transform: scale(1.62);
}
.mobile-menu{
    padding: 0;
    transition: all 0.2s cubic-bezier(.01,.67,.27,.98);
}
.expanded{
    height: 100%;
    padding-top: 3em;
}
.mobile-menu .expanded a{
    padding: 5em;
}
.page-index.primary{
    animation: bounce 0.3s cubic-bezier(.26,.2,.19,.97) 1 ;
}
.card{
    
    transition: all 0.5s cubic-bezier(.43,.02,.33,.98);
}
.scroll-left{
    opacity: 0;
    transform: translateX(400px);
}
.scroll-right{
    opacity: 0;
    transform: translateX(-400px);
}
.card.active{
    opacity: 1;
    transform: translateX(0);
}
footer a{
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}
footer a:hover{
    transform: scale(1.2);
}
.page-index, .arrow-right, .arrow-left, circle{
    display: inline-block;
    transition: all 0.2s ease-out;
}
.page-index:hover, .arrow-right:hover, .arrow-left:hover, .circle:hover{
    transform: scale(1.6);
}
.page-index.primary:hover{
    transform: scale(1);
}
navbar{
    transition: all 0.3s cubic-bezier(.8,.01,.81,1.11);
}

 /** KEYFRAMES */
@keyframes bounce {
    0% {
      transform: scale(0);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    } 
}