/** RESET **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
button{
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}
/** MAIN **/
html {
  font-family: Poppins, Arial, Helvetica, sans-serif ;
  color: white;
}
body{
  background-color: var(--secondary-color);
}
navbar{
  z-index: 10;
  padding: 1em;
  width: 100%;
  background-color: rgb(36, 39, 51);
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  height: 80px;
}
.container{
  margin-top: 80px;
  padding: 2em;
}
.menu-button{
  padding: 0.5em;
  color: white;
  display: flex;
  justify-content: center;
}
.logo{
  max-width: 15em;
  padding: 2em;
}
.buttons-container{
  display: flex;
  justify-content: end;
}
.carousel-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
}
i[class^="fa"] {
  font-size: 5em;
  filter: drop-shadow(1px 1px 10px black);
}
.imgs-container{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.image{
  margin-left: 20px;
  border-radius: 2em;
  display: inline-block;
  width: 90%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.arrow-container{
  z-index: 4;
  top: 50%;
  position: absolute;
  color: white;
  margin: 1em;
  padding: 1em;
  cursor: pointer;
}
.overlay{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff00;
  background: linear-gradient(90deg, #ffffff00 0%, #ffffff00 90%, #000000 100%);
}
.imgs-scroller{
  overflow-x: scroll;
  position: relative;
  scroll-behavior: smooth;
}