/** RESET **/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
button{
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}
html{
  overflow-x: hidden;
}
/** MAIN **/
html {
  font-family: Poppins, Arial, Helvetica, sans-serif ;
  color: white;
  scroll-behavior: smooth;
}
body{
  background-color: var(--secondary-color);
  scroll-behavior: smooth;
}

.container{
  margin-top: var(--navbar-height);
  padding: 2em;
}
.menu-button{
  padding: 1.6em;
  color: white;
  display: flex;
  justify-content: center;
}

.buttons-container{
  display: flex;
  justify-content: end;
}
.carousel-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  position: relative;
}
.overlay-img, .text-hero{
  position: absolute;
}
.text-hero{
  font-size: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.text-hero{
  background-color: rgba(0, 0, 0, 0.261);
  z-index: 4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#carousel i[class^="fa"] {
  font-size: 3em;
  filter: drop-shadow(1px 1px 10px black);
}
.imgs-container{
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.image{
  position: relative;
  margin-left: 20px;
  border-radius: 2em;
  display: inline-block;
  width: 90%;
  height: 70vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}
.arrow-container{
  z-index: 6;
  position: absolute;
  color: white;
  margin: 1em;
  padding: 1em;
  cursor: pointer;
}
.overlay{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff00;
  background: linear-gradient(90deg, #ffffff00 0%, #ffffff00 90%, var(--secondary-color) 100%);
}
.imgs-scroller{
  overflow-x: hidden;
  position: relative;
  scroll-behavior: smooth;
}
.circle-container{
  cursor: pointer;
  padding: 0.5em;
}
#data{

  margin-top: 5em;
}
footer a{
  color: white;
}
footer{
  font-weight: 100;
  font-size: smaller;
  text-align: center;
  background-color: var(--dark-color);
}
.contact-info{
  margin-top: 1em;
}

@media screen and (max-width:1024px) {
  .text-hero{
    font-size: 2.5em;
  }
}

@media screen and (max-width:1024px) {
  .text-hero{
    font-size: 2.5em;
  }
}

@media screen and (max-width:1367px) {
  body{
    font-size: smaller;
  }
}