.flex{
    display: flex;
    justify-content: center;
}
.circle{
    margin: 0.5em;
    border-radius: 100%;
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;
}
.outline{
    background-color: #00000000;
    border: 1px solid white;
}
.fill{
    background-color: white;
}
.left{
    left: 0;
}
.right{
    right: 0;
}
.padding{
    padding: var(--spacing);
}
.disabled{
    cursor: auto;
    opacity: 0.2;
}
.mt{
    margin-top: var(--spacing);
}
.mt-2{
    margin-top: calc(var(--spacing) * 2);
}