.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-grow{
    flex-grow: 1;
}
.circle{
    margin: 0.5em;
    border-radius: 100%;
    width: 0.8em;
    height: 0.8em;
    cursor: pointer;
}
.outline{
    background-color: #00000000;
    border: 1px solid white;
}
.fill{
    background-color: white;
}
.left{
    left: 0;
}
.right{
    right: 0;
}
.padding{
    padding: var(--spacing);
}
.disabled{
    cursor: auto;
    opacity: 0.2;
}
.mt{
    margin-top: var(--spacing);
}
.mt-2{
    margin-top: calc(var(--spacing) * 2);
}
.primary{
    background-color: var(--primary-color);
    transition: background-color 0.5s ease;
}
.primary:hover{
    background-color: #56a0f0;
}
.secondary{
    border: 2px solid var(--primary-color);
}
.tooltip-btn {
    position: relative;
    display: inline-block;
}
.tooltip-btn::before {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    padding: 4px 8px;
    background-color: #ffffff;
    color: #140000;
    font-size: 14px;
    border-radius: 1em;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.tooltip-btn:hover::before {
    opacity: 1;
    visibility: visible;
}
.paginator .fa{
    display: inline-block;
}
.mr-1{
    margin-right: 1em;
}
.ml-1{
    margin-left: 1em;
}
select {
    margin-left: 1em;
    background-color: #1a1d25;
    color: #f2f2f2;
    border: none;
    border-radius: 4px;
    padding: 1em;
    font-size: 1em;
    transition: background-color 0.3s ease;
}
  
select:hover {
    background-color: var(--primary-color);
}

select:focus {
    outline: none;
    background-color: var(--primary-color);
}

/* Styling the options */
select option {
    background-color: #1a1d25;
    color: #f2f2f2;
    padding: 1em;
    margin: 1em;
    font-size: 1em;
    transition: background-color 0.3s ease;
    text-align: center;
}

select option:hover {
    background-color: #e0e0e0;
}

@media screen and (max-width: 1024px) {
    .sm{
        display: inline-block;
    }
    .lg{
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .sm{
        display: none;
    }
    .lg{
        display: inline-block;
    }
}
@media screen and (min-width: 801px) and (max-width:1366px) {
    .fa.fa-phone, .fa.fa-envelope{
        display: none;
    }
}